.todolist-container {
  margin: 0 auto;
  max-width: 768px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(253, 251, 251);
  padding: 5px;
}


.mattoolbar-custom-settings {
  margin: 0 auto;
  margin-bottom: 20px;

}
.todolist-title {
  flex-basis: 100%;
  max-width: 768px;
  margin: 0 auto;
  text-shadow: 1px 1px 3px rgb(94, 72, 72);
}

.right-col {
  flex-basis: 40%;
}

.left-col {
  flex-basis: 55%;
}