
<mat-toolbar color="primary" class="mattoolbar-custom-settings ">
  <h1 class="todolist-title">{{ title }}</h1>
</mat-toolbar> 


<div class="todolist-container">
  
  <div class="left-col">
    <app-todolist-item
    *ngFor="let item of tasks" 
    [task]="item"
    ></app-todolist-item>
  </div>
  
  <div class="right-col">
    <app-todolist-form></app-todolist-form>
  </div>
</div>