<mat-card>

  <form [formGroup]="addTaskForm"
    (ngSubmit)="addItem()" #f="ngForm">
    
    <mat-form-field appearance="outline" class="custom_input_width">
      <mat-label>Название задания</mat-label>
      <input 
        matInput
        formControlName="taskName"
        type="text"
        required >
      <mat-error *ngIf="addTaskForm.hasError('required', 'taskName')">Введите название задачи</mat-error>
    </mat-form-field> 
    <br>
    
    <mat-form-field appearance="outline" class="custom_input_width">
      <mat-label>Ответственный за задание</mat-label>
      <input matInput 
      formControlName="employee"
      type="text" 
      required>
      <mat-error *ngIf="addTaskForm.hasError('required', 'employee')">Введите имя ответственного</mat-error>
    </mat-form-field>
    <br>
    
    <mat-form-field appearance="outline" class="custom_input_width">
      <mat-label>Часов на выполнение</mat-label>
      <input matInput
      formControlName="hourlyPlan"
      type="text">
    </mat-form-field>
    
    <br>
    
    <button mat-raised-button color="primary" type="submit">Добавить задачу</button>
  </form>

</mat-card>