<!-- <div>
  <span>
    Название задачи: {{ task.taskName }} <br> 
    Ответстевенный за выполнение: {{ task.responsibleEmployee }} <br>
    За сколько часов выполнить: {{ task.hourlyPlan }}
  </span><br>
  <app-btn-delete
  [taskToDelete]="task"
  ></app-btn-delete>
  <hr>
</div> -->

<mat-card style="margin-bottom:10px;">
  <!-- <mat-card> -->

    <mat-card-subtitle><span style="font-size: 16px;">Название задачи: </span> <b>{{ task.taskName }}</b></mat-card-subtitle>
   
    <mat-card-subtitle><span style="font-size: 16px;">Ответстевенный за выполнение: </span> <b>{{ task.responsibleEmployee }}</b></mat-card-subtitle>
    
    <mat-card-subtitle><span style="font-size: 16px;">За сколько часов выполнить: </span> <b>{{ task.hourlyPlan }}</b></mat-card-subtitle>
   
    <app-btn-delete
    [taskToDelete]="task"
    ></app-btn-delete>
    
  <!-- </mat-card> -->
</mat-card>
